

.ContextMenu {
  position: absolute;
  background-color: #fff;
  border: 1px solid rgba(192, 192, 192, 0.432);
  min-width: 120px;
  max-width: 350px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  z-index: 99;
}